<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">People Handling</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <input type="button" class="btn btn-light" (click)="PersonLink()" value="Person">
      </li>
      <li class="nav-item">
          <input type="button" class="btn btn-light" (click)="DetailLink()" value="Detail">
      </li>
    </ul>
  </div>
</nav>

<div class="main">
  <router-outlet></router-outlet>
</div>